<div class="register-container">
    <h2 class="title">Register</h2>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <!-- Username -->
      <mat-form-field  class="form-field">
        <mat-label>Username</mat-label>
        <input
          matInput
          #userName="ngModel"
          type="text"
          name="username"
          [(ngModel)]="model.username"
          [maxlength]="25"
          required
        />
        <mat-error *ngIf="userName.invalid && registerForm.submitted">
          Username is required.
        </mat-error>
        <mat-error *ngIf="userName.errors?.['maxlength'] && registerForm.submitted">
            User name must be less than 25 characters.
          </mat-error>
      </mat-form-field>
  
      <!-- Email -->
      <mat-form-field  class="form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          #email="ngModel"
          type="email"
          name="email"
          [(ngModel)]="model.email"
          (ngModelChange)="onEmailChange(email)"
          required
          email
        />
        <mat-error *ngIf="email.errors?.['required'] && registerForm.submitted">
          Email is required.
        </mat-error>
        <mat-error *ngIf="email.errors?.['email'] && registerForm.submitted">
          Please enter a valid email.
        </mat-error>
        <mat-error *ngIf="email.errors?.['emailExists'] && registerForm.submitted">
          Email already exists.
        </mat-error>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          #password="ngModel"
          name="password"
          [(ngModel)]="model.password"
          required
          minlength="6"
        />
        <mat-error *ngIf="password.errors?.['required'] && registerForm.submitted">
          Password is required.
        </mat-error>
      
        <mat-error *ngIf="password.errors?.['minlength'] && registerForm.submitted">
          Password must have at least 6 characters.
        </mat-error>
      </mat-form-field>
  
      <!-- Repeat Password -->
      <mat-form-field class="form-field">
        <mat-label>Repeat Password</mat-label>
        <input
          matInput
          type="password"
          name="repeatPassword"
          #repeatPassword="ngModel"
          [match]="password.value"
          ngModel
          required
        />
        <mat-error *ngIf="repeatPassword.errors?.['required'] && registerForm.submitted">
          Repeat password is required.
        </mat-error>
        <mat-error *ngIf="!!repeatPassword.value && repeatPassword.errors?.['mismatch'] && registerForm.submitted">
          Passwords must match
        </mat-error>
      </mat-form-field>
      <div class="login-link">
        <p>Already have an account? <a routerLink="/login">Log in</a></p>
      </div>
      <!-- Register Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Register
      </button>
    </form>
  </div>
  